<div class="container d-flex flex-column justify-content-top align-items-center mt-3">
 <div class="d-flex flex-row w-100">
  <a href="/">Naslovnica</a>&nbsp;&sc;&nbsp;<a href="/blog">Blog</a>
 </div>
 <hr class="horz-div w-100">
 <div class="d-flex flex-row w-100">
  <h1 class="flex-grow-1 align-items-start">Kategorija: {{ category?.title }}</h1>
 </div>
 <div class="container">
  <div *ngIf="posts" class="row">
   <div class="col-md-6" *ngFor="let post of posts; let i = index">
    <app-blog-post-short [post]="post"></app-blog-post-short>
   </div>
  </div>
 </div>
</div>